<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coverdrop.lib">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <service
            android:name="com.coverdrop.lib.background.CoverdropBackgroundService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="com.coverdrop.lib.background.CoverdropBootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
